[General]
#General Settings
machine.count=1
machine.base.name=NEXION 1000 #
#The Subdirectory with the .rep files
sample.dir=reports
#Number of samples to scan for when value is out of range.
#If an in range is not found in the given attempts, closest value to range will be used.
sample.try=4

[Template]
#Template Definition Section
#Column with Day 1
column.ranges=E
column.day1=F
#First row in Template for a Section.
section.firstRow=3
#Number of Rows in a Section.
section.numRows=7
#Row in Section with the Machine Name
section.machineRow=2
#Row in the Section with the Section Name
section.nameRow=6

[Mappings]
#Report Name=Spreadsheet Name
#Example:
#Standard 1=Low Check QC
China Hair=China Hair
Hair Pool=Hair Pool-10
QC Std 1=Low Check QC
QC Std 2=High Check QC
